/* stylelint-disable rule-empty-line-before */
/* stylelint-disable indentation */
a:link {
    color: gray;
}
a:visited {
    color: green;
}
a:hover {
    color: purple;
}
a:active {
    color: teal;
}

p.smallcaps {
    font-variant: small-caps;
}
p {
    font-size: 120%;
    color: dimgray;
}
a:link,
a:visited,
a:hover,
a:active {
    background-color: green;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
